<div class="container">
  <a class="btn btn-default" href="/" role="button">홈으로 가기</a>
</div>
<div class="container">
  <form action="/post/create">
    <div class="form-group">
      <label for="exampleInputEmail1">제목</label>
      <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="title">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">내용</label>
      <textarea rows="10" name="content" class="form-control" id="wexampleInputPassword1">
      </textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>